%screen-center{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
}

.loginForm{
  @extend %screen-center;
  width: 320px;
  padding: 20px 15px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 5px #333;
}
