.normal {
  width: 533px;
  div{
    width: 533px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}
.list{
  width: 150px;
  div{
    width: 150px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}
