.normal {
  width: 475px;
  div{
    width: 475px;
    height: 85px;
    text-align: center;
    line-height: 85px;
  }
}
.list{
  width: 140px;
  div{
    width: 140px;
    height: 85px;
    text-align: center;
    line-height: 85px;
  }
}
