
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.logo {
  height: 64px;
  max-width: 100%;
  text-align: center;
}

.ant-tabs-bar {
  border-bottom: 0 !important;
}

.ant-tabs-tab-active {
  border-bottom: 1px solid #e8e8e8;
}

.plan  .ant-fullcalendar-date{
  height: 80px !important;
}
.plan .ant-fullcalendar-month{
  height: 80px !important;
}

.textOverFlow{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.ant-layout-sider-children{
  min-height: 100% !important;
}
