%fullScreen{
  height: 100vh;
  width: 100vw;
}

.background{
  @extend %fullScreen;
  position: relative;
  background: {
    image: url("../assets/login_bg.jpg");
    repeat: no-repeat;
    size: cover;
  };
}

.title{
  color: #FFF;
  line-height: 64px;
  height: 100%;
  font-size: 27px;
}

